In [1]:
import pandas as pd
import numpy as np
from bidict import bidict

In [2]:
df = pd.read_csv("learning_traces.13m.csv")

In [3]:
df.head()

,p_recall,timestamp,delta,user_id,learning_language,ui_language,lexeme_id,lexeme_string,history_seen,history_correct,session_seen,session_correct
0,1.0,1362076081,27649635,u:FO,de,en,76390c1350a8dac31186187e2fe1e178,lernt/lernen<vblex><pri><p3><sg>,6,4,2,2
1,0.5,1362076081,27649635,u:FO,de,en,7dfd7086f3671685e2cf1c1da72796d7,die/die<det><def><f><sg><nom>,4,4,2,1
2,1.0,1362076081,27649635,u:FO,de,en,35a54c25a2cda8127343f6a82e6f6b7d,mann/mann<n><m><sg><nom>,5,4,1,1
3,0.5,1362076081,27649635,u:FO,de,en,0cf63ffe3dda158bc3dbd55682b355ae,frau/frau<n><f><sg><nom>,6,5,2,1
4,1.0,1362076081,27649635,u:FO,de,en,84920990d78044db53c1b012f5bf9ab5,das/das<det><def><nt><sg><nom>,4,4,1,1

In [4]:
df.describe()

,p_recall,timestamp,delta,history_seen,history_correct,session_seen,session_correct
count,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07
mean,8.961056e-01,1.362589e+09,7.295811e+05,2.198109e+01,1.935025e+01,1.817686e+00,1.644134e+00
std,2.714048e-01,2.932082e+05,2.246499e+06,1.295508e+02,1.119681e+02,1.360180e+00,1.318794e+00
min,0.000000e+00,1.362076e+09,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,1.000000e+00,1.362343e+09,5.320000e+02,3.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00
50%,1.000000e+00,1.362591e+09,7.713400e+04,6.000000e+00,6.000000e+00,1.000000e+00,1.000000e+00
75%,1.000000e+00,1.362846e+09,4.425070e+05,1.500000e+01,1.300000e+01,2.000000e+00,2.000000e+00
max,1.000000e+00,1.363105e+09,4.032836e+07,1.351800e+04,1.288800e+04,2.000000e+01,2.000000e+01

In [5]:
df["lexeme_id"].describe()

count                             12854226
unique                               19279
top       827a8ecb89f9b59ac5c29b620a5d3ed6
freq                                123099
Name: lexeme_id, dtype: object

In [6]:
df["lexeme_string"].describe()

count              12854226
unique                18781
top       a/a<det><ind><sg>
freq                 123099
Name: lexeme_string, dtype: object

In [7]:
df = df.drop(columns=["timestamp","lexeme_string", "learning_language", "ui_language"])

In [8]:
uid_dict = bidict()
for i,uid in enumerate(df["user_id"].unique()):
    uid_dict[uid] = i

lid_dict = bidict()
for i,lid in enumerate(df["lexeme_id"].unique()):
    lid_dict[lid] = i

df["user_id"] = np.array(list(map(lambda x: uid_dict[x], df["user_id"])), dtype=np.int64)
df["lexeme_id"] = np.array(list(map(lambda x: lid_dict[x], df["lexeme_id"])), dtype=np.int64)
df["delta"] = df["delta"] / (60*60*24)

In [9]:
df.head()

,p_recall,delta,user_id,lexeme_id,history_seen,history_correct,session_seen,session_correct
0,1.0,320.018924,0,0,6,4,2,2
1,0.5,320.018924,0,1,4,4,2,1
2,1.0,320.018924,0,2,5,4,1,1
3,0.5,320.018924,0,3,6,5,2,1
4,1.0,320.018924,0,4,4,4,1,1

In [10]:
df.describe()

,p_recall,delta,user_id,lexeme_id,history_seen,history_correct,session_seen,session_correct
count,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07,1.285423e+07
mean,8.961056e-01,8.444225e+00,3.925031e+04,1.352497e+03,2.198109e+01,1.935025e+01,1.817686e+00,1.644134e+00
std,2.714048e-01,2.600115e+01,3.104239e+04,1.932904e+03,1.295508e+02,1.119681e+02,1.360180e+00,1.318794e+00
min,0.000000e+00,1.157407e-05,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,1.000000e+00,6.157407e-03,1.314400e+04,2.340000e+02,3.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00
50%,1.000000e+00,8.927546e-01,3.113000e+04,6.160000e+02,6.000000e+00,6.000000e+00,1.000000e+00,1.000000e+00
75%,1.000000e+00,5.121609e+00,6.182500e+04,1.677000e+03,1.500000e+01,1.300000e+01,2.000000e+00,2.000000e+00
max,1.000000e+00,4.667634e+02,1.152210e+05,1.927800e+04,1.351800e+04,1.288800e+04,2.000000e+01,2.000000e+01

In [11]:
len(df)*0.9, len(df)*0.1

(11568803.4, 1285422.6)

In [12]:
df[0:32]

,p_recall,delta,user_id,lexeme_id,history_seen,history_correct,session_seen,session_correct
0,1.000000,320.018924,0,0,6,4,2,2
1,0.500000,320.018924,0,1,4,4,2,1
2,1.000000,320.018924,0,2,5,4,1,1
3,0.500000,320.018924,0,3,6,5,2,1
4,1.000000,320.018924,0,4,4,4,1,1
5,1.000000,320.018924,0,5,4,3,1,1
6,1.000000,320.018924,0,6,4,4,1,1
7,1.000000,5.143600,1,7,3,3,1,1
8,1.000000,0.069016,0,0,8,6,6,6
9,0.750000,0.069016,0,1,6,5,4,3
10,0.888889,0.069016,0,2,6,5,9,8
11,0.800000,0.069016,0,3,8,6,5,4
12,0.800000,0.069016,0,4,5,5,5,4
13,1.000000,0.069016,0,5,5,4,5,5
14,1.000000,0.069016,0,6,5,5,3,3
15,1.000000,0.000891,1,7,5,5,1,1
16,0.000000,0.001736,0,4,10,9,1,0
17,1.000000,0.001736,0,2,15,13,1,1
18,0.000000,0.069815,0,8,1,1,1,0
19,1.000000,0.069815,0,9,1,1,1,1
20,1.000000,18.921030,1,10,9,8,2,2
21,1.000000,19.776609,1,11,7,5,2,2
22,1.000000,19.776609,1,12,8,8,4,4
23,1.000000,5.146400,1,13,3,3,1,1
24,1.000000,7.856632,1,14,9,9,1,1
25,1.000000,9.044340,1,15,3,3,2,2
26,1.000000,7.856632,1,16,3,3,1,1
27,1.000000,99.101192,1,17,3,3,3,3
28,1.000000,50.034062,1,18,19,18,1,1
29,1.000000,99.101192,1,19,3,3,4,4
30,1.000000,99.101192,1,20,3,3,3,3
31,1.000000,50.034062,1,21,14,14,1,1